net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/appsettings.Development.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/appsettings.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.Negotiate.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.AspNetCore.Connections.Abstractions.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.Extensions.Features.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.OpenApi.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.deps.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.exe
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.pdb
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.runtimeconfig.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.staticwebassets.runtime.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/net6_webapi_Swagger_Test.xml
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.DirectoryServices.AccountManagement.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.DirectoryServices.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.DirectoryServices.Protocols.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.Drawing.Common.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.IO.Pipelines.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.Security.Permissions.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/System.Windows.Extensions.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.AccountManagement.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/config/applicationhost.config
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/DesignTimeBuild/.dtbcache.v2
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/FileContentIndex/278db206-f127-46ac-b858-6b833bebe5d7.vsidx
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/FileContentIndex/2bb6ad5d-ce99-49f0-ae5e-8d79baced943.vsidx
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/FileContentIndex/5d7bb1b3-d872-4159-bebf-44c15719347d.vsidx
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/FileContentIndex/89267128-7fde-486a-b699-b9f252ba86cb.vsidx
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/FileContentIndex/read.lock
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/v17/.futdcache.v1
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/v17/.futdcache.v2
net6_webapi_Swagger_Test/.vs/net6_webapi_Swagger_Test/v17/.suo
net6_webapi_Swagger_Test/.vs/ProjectEvaluation/net6_webapi_swagger_test.metadata.v5.1
net6_webapi_Swagger_Test/.vs/ProjectEvaluation/net6_webapi_swagger_test.projects.v5.1
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/net6_webapi_Swagger_Test.csproj.nuget.dgspec.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/net6_webapi_Swagger_Test.csproj.nuget.g.props
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/net6_webapi_Swagger_Test.csproj.nuget.g.targets
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/project.assets.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/project.nuget.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/staticwebassets.pack.sentinel
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/apphost.exe
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.AssemblyInfo.cs
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.AssemblyInfoInputs.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.assets.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.csproj.AssemblyReference.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.csproj.BuildWithSkipAnalyzers
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.csproj.CopyComplete
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.csproj.CoreCompileInputs.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.csproj.FileListAbsolute.txt
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.GeneratedMSBuildEditorConfig.editorconfig
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.genruntimeconfig.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.GlobalUsings.g.cs
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.MvcApplicationPartsAssemblyInfo.cache
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.MvcApplicationPartsAssemblyInfo.cs
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.pdb
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/net6_webapi_Swagger_Test.xml
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/staticwebassets.build.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/staticwebassets.development.json
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/ref/net6_webapi_Swagger_Test.dll
net6_webapi_Swagger_Test/net6_webapi_Swagger_Test/obj/Debug/net6.0/refint/net6_webapi_Swagger_Test.dll
